<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-label>Map</ion-label>
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-label>Profile</ion-label>
      <ion-icon name="body"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-label>About</ion-label>
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
